body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 100px;
}
#playground{
    display: flex;
    justify-content: center;
}
.box{
    border: 5px solid black;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    margin: 40px;
    margin-bottom: 60px;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.flash{
    background-color: aliceblue;
}
.userflash{
    background-color: black;
}